<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Throttle Nozzle</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
<div class="slidecontainer">
    <h4 class="nicetext center">Throttle</h4>
    <input type="range" min="-500" max="0" class="slider" id="throttle_setting">
    <div class="nicetext center" id="consuming_rate">Consuming Rate:<br>0/second.</div>
</div>
<script type="text/javascript" th:src="@{/js/slider.js}"></script>
<script type="text/javascript" th:src="@{/js/updater.js}"></script>
</body>
</html>